.App {
  text-align: center;
  background-color: #484c54;
}

.App-body {
  background-color: #484c54;
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
